In [1]:
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import datetime
import numpy as np

In [2]:
import pandas as pd
import pandas_datareader.data as web

ModuleNotFoundError: No module named 'pandas_datareader'

In [ ]:
style.use('ggplot')

In [4]:
start = dt.datetime(2020,1,1)
end = dt.datetime(2021,3,1)

In [ ]:

fin = pd.DataFrame(columns =['Ticker', 'Min', 'Max'])

In [3]:
##data pull for tickers from yahoo finance##
ticker = ['ADANIPORTS.NS', 'ASIANPAINT.NS', 'AXISBANK.NS', 'BAJAJ-AUTO.NS', 'BAJAJFINSV.NS', 'BAJFINANCE.NS', 'BHARTIARTL.NS', 'BPCL.NS', 'BRITANNIA.NS', 'CIPLA.NS', 'COALINDIA.NS', 'DIVISLAB.NS', 'DRREDDY.NS', 'EICHERMOT.NS', 'GRASIM.NS', 'HCLTECH.NS', 'HDFC.NS', 'HDFCBANK.NS', 'HDFCLIFE.NS', 'HEROMOTOCO.NS', 'HINDALCO.NS', 'HINDUNILVR.NS', 'ICICIBANK.NS', 'INDUSINDBK.NS', 'INFY.NS', 'IOC.NS', 'ITC.NS', 'JSWSTEEL.NS', 'KOTAKBANK.NS', 'LT.NS', 'MM.NS', 'MARUTI.NS', 'NESTLEIND.NS', 'NTPC.NS', 'ONGC.NS', 'POWERGRID.NS', 'RELIANCE.NS', 'SBILIFE.NS', 'SBIN.NS', 'SHREECEM.NS', 'SUNPHARMA.NS', 'TATACONSUM.NS', 'TATAMOTORS.NS', 'TATASTEEL.NS', 'TCS.NS', 'TECHM.NS', 'TITAN.NS', 'ULTRACEMCO.NS', 'UPL.NS', 'WIPRO.NS']

In [27]:
#US Tickers
ticker_us = ['AAPL','AMZN','CGC','DIS','EEM','FB','FMCC','GME','GOOG','GS','INTC','IWD','MSFT','ONEQ','SRNE','USCI']

In [8]:
for x in ticker :
    
    df = web.DataReader(x,'yahoo',start,end)
    df['Date'] = df.index
    print(x)
    table = pd.DataFrame([[x,
                       df.Date[len(df)-1],
                       df.Date[0],
                       df.Close.min(),
                       df.Close.max(),
                       df.tail(1).Close[0], 
                       df.tail(10).Close.mean(),
                       df.tail(25).Close.mean(),
                       df.tail(60).Close.mean(),
                       df.tail(100).Close.mean(),
                       (df.tail(1).values[:1,3][0] -  df.tail(30).values[:1,3][0])/df.tail(30).values[:1,3][0],
                       (df.tail(1).values[:1,3][0] -  df.tail(100).values[:1,3][0])/df.tail(100).values[:1,3][0],
                       (df.tail(1).values[:1,3][0] -  df.tail(365).values[:1,3][0])/df.tail(365).values[:1,3][0]]],
                     columns =['Ticker','Last_Dt','First_Dt', 'Min', 'Max','Last Close','MA_10','MA_25','MA_60','MA_100','Delta_30_D','Delta_100_D','Delta_365_D'])
    fin = fin.append(table)

AUBANK.NS
AARTIIND.NS
ADANIENT.NS
ATGL.NS
ABCAPITAL.NS
ABFRL.NS
AJANTPHARM.NS
APLLTD.NS
AMARAJABAT.NS
APOLLOHOSP.NS
APOLLOTYRE.NS
ASHOKLEY.NS
BALKRISIND.NS
BANKINDIA.NS
BATAINDIA.NS
BEL.NS
BHARATFORG.NS
BHEL.NS
BBTC.NS
CESC.NS
CANBK.NS
CASTROLIND.NS
CHOLAFIN.NS
CUB.NS
COFORGE.NS
COROMANDEL.NS
CROMPTON.NS
CUMMINSIND.NS
DALBHARAT.NS
DHANI.NS
LALPATHLAB.NS
EDELWEISS.NS
EMAMILTD.NS
ENDURANCE.NS
ESCORTS.NS
EXIDEIND.NS
FEDERALBNK.NS
FORTIS.NS
FRETAIL.NS
GMRINFRA.NS
GLENMARK.NS
GODREJAGRO.NS
GODREJIND.NS
GODREJPROP.NS
GUJGASLTD.NS
GSPL.NS
HUDCO.NS
ISEC.NS
IDFCFIRSTB.NS
IBULHSGFIN.NS
INDHOTEL.NS
IRCTC.NS
IPCALAB.NS
JSWENERGY.NS
JINDALSTEL.NS
JUBLFOOD.NS
L&TFH.NS
LTTS.NS
LICHSGFIN.NS
MRF.NS
MGL.NS
M&MFIN.NS
MANAPPURAM.NS
MFSL.NS
MINDTREE.NS
MPHASIS.NS
NATCOPHARM.NS
NATIONALUM.NS
NAVINFLUOR.NS
NAM-INDIA.NS
OBEROIRLTY.NS
OIL.NS
PIIND.NS
PAGEIND.NS
PFIZER.NS
POLYCAB.NS
PRESTIGE.NS
RBLBANK.NS
RECLTD.NS
RAJESHEXPO.NS
SRF.NS
SANOFI.NS
SRTRANSFIN.NS
SAIL.NS
SUNTV.NS
SYNGENE.NS
TVSMOTOR.NS
TATACHEM.NS
TATAPOWER.NS
RAMCOCEM.NS
TORNTPOWER.NS
TRENT.NS
UNIONBANK.NS
VGUARD.NS
VBL.NS
IDEA.NS
VOLTAS.NS
WHIRLPOOL.NS
YESBANK.NS
ZEEL.NS

In [51]:
#Test
df.tail(1).values[:1,3][0]

array([532.2000122070312], dtype=object)

In [37]:
#Test
df.tail(30)

,High,Low,Open,Close,Volume,Adj Close,Date
Date,,,,,,,
2021-01-18,1029.550049,990.849976,1023.000000,999.200012,1847393.0,999.200012,2021-01-18
2021-01-19,1052.500000,1002.000000,1002.000000,1031.900024,4059040.0,1031.900024,2021-01-19
2021-01-20,1038.500000,1014.799988,1028.000000,1034.699951,1528763.0,1034.699951,2021-01-20
2021-01-21,1046.949951,1012.500000,1036.000000,1017.099976,1268212.0,1017.099976,2021-01-21
2021-01-22,1030.750000,1000.000000,1022.299988,1004.000000,1029795.0,1004.000000,2021-01-22
2021-01-25,1114.650024,1017.000000,1025.000000,1069.750000,15344078.0,1069.750000,2021-01-25
2021-01-27,1114.349976,1051.050049,1063.949951,1061.550049,6620990.0,1061.550049,2021-01-27
2021-01-28,1076.000000,1038.550049,1040.500000,1067.400024,2834260.0,1067.400024,2021-01-28
2021-01-29,1094.000000,1048.449951,1062.599976,1055.650024,3822191.0,1055.650024,2021-01-29
2021-02-01,1130.800049,1047.349976,1060.000000,1125.650024,2099126.0,1125.650024,2021-02-01
2021-02-02,1209.900024,1136.449951,1144.000000,1190.000000,4122906.0,1190.000000,2021-02-02
2021-02-03,1205.500000,1172.250000,1178.099976,1190.849976,2427085.0,1190.849976,2021-02-03
2021-02-04,1217.449951,1171.050049,1180.000000,1188.500000,2659290.0,1188.500000,2021-02-04
2021-02-05,1208.800049,1173.000000,1188.500000,1186.099976,1636133.0,1186.099976,2021-02-05
2021-02-08,1220.000000,1185.000000,1186.000000,1210.800049,1955804.0,1210.800049,2021-02-08
2021-02-09,1226.500000,1204.000000,1210.000000,1217.949951,1727089.0,1217.949951,2021-02-09
2021-02-10,1249.000000,1216.000000,1216.000000,1231.400024,3264009.0,1231.400024,2021-02-10
2021-02-11,1244.800049,1221.599976,1223.000000,1235.449951,1216492.0,1235.449951,2021-02-11
2021-02-12,1254.800049,1221.050049,1244.000000,1242.099976,3421387.0,1242.099976,2021-02-12
2021-02-15,1258.599976,1216.750000,1257.050049,1227.949951,1914247.0,1227.949951,2021-02-15
2021-02-16,1257.000000,1225.599976,1234.400024,1243.750000,1561647.0,1243.750000,2021-02-16
2021-02-17,1249.000000,1228.000000,1228.099976,1238.449951,1048606.0,1238.449951,2021-02-17
2021-02-18,1247.650024,1213.000000,1238.449951,1229.650024,1536486.0,1229.650024,2021-02-18
2021-02-19,1239.699951,1210.000000,1231.750000,1218.000000,1314508.0,1218.000000,2021-02-19
2021-02-22,1235.000000,1215.000000,1221.500000,1230.500000,1128617.0,1230.500000,2021-02-22
2021-02-23,1249.900024,1221.599976,1239.000000,1231.500000,1434663.0,1231.500000,2021-02-23
2021-02-24,1257.000000,1231.250000,1239.000000,1250.199951,441927.0,1250.199951,2021-02-24
2021-02-25,1289.000000,1254.000000,1258.000000,1270.449951,1942025.0,1270.449951,2021-02-25
2021-02-26,1270.000000,1190.849976,1255.000000,1200.800049,2798547.0,1200.800049,2021-02-26
2021-03-01,1270.000000,1202.199951,1206.949951,1265.949951,1601164.0,1265.949951,2021-03-01

In [9]:
fin

,Ticker,Min,Max,Last_Dt,First_Dt,Last Close,MA_10,MA_25,MA_60,MA_100,Delta_30_D,Delta_100_D,Delta_365_D
0,AUBANK.NS,380.149994,1186.300049,2021-03-01,2020-01-01,1148.449951,1125.589990,1042.343999,955.182497,895.207498,0.291336,0.585819,0.439702
0,AARTIIND.NS,679.500000,1337.199951,2021-03-01,2020-01-01,1269.150024,1231.145007,1202.952002,1222.424168,1156.267501,0.034985,0.260140,0.514860
0,ADANIENT.NS,120.900002,851.500000,2021-03-01,2020-01-01,851.500000,809.515015,681.730005,568.409167,482.628000,0.676676,1.579521,3.096704
0,ATGL.NS,81.750000,525.450012,2021-03-01,2020-01-01,525.450012,503.635004,433.638000,392.798335,334.854501,0.491696,1.680867,1.971162
0,ABCAPITAL.NS,40.049999,129.699997,2021-03-01,2020-01-01,129.699997,112.000001,97.180001,92.662500,84.403500,0.446737,1.086886,0.277832
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,IDEA.NS,3.000000,13.650000,2021-03-01,2020-01-01,11.050000,11.330000,11.704000,11.325833,10.377000,-0.150000,0.292398,0.811475
0,VOLTAS.NS,436.299988,1103.199951,2021-03-01,2020-01-01,1043.800049,1021.780005,1012.002000,917.797499,843.683998,0.171624,0.541233,0.597735
0,WHIRLPOOL.NS,1666.900024,2681.449951,2021-03-01,2020-01-01,2447.949951,2420.379980,2469.465996,2421.803341,2294.724507,-0.014810,0.148329,0.049159
0,YESBANK.NS,11.700000,60.450001,2021-03-01,2020-01-01,16.299999,15.950000,16.158000,17.174167,15.695000,-0.079096,0.239544,-0.650590
0,ZEEL.NS,119.150002,300.350006,2021-03-01,2020-01-01,216.850006,207.715002,217.328000,219.468333,207.128000,-0.005275,0.052926,-0.248744

In [10]:
fin.to_csv('Nifty100_Stats_Full.csv')

In [60]:
df

,High,Low,Open,Close,Volume,Adj Close,Date,Prev_Close
Date,,,,,,,,
2020-01-01,460.500000,449.750000,456.049988,453.299988,5059995.0,451.678009,2020-01-01,NaN
2020-01-02,459.399994,453.500000,454.100006,455.200012,4842142.0,453.571259,2020-01-02,453.299988
2020-01-03,459.200012,451.500000,455.700012,455.100006,5059594.0,453.471588,2020-01-03,455.200012
2020-01-06,457.450012,444.649994,453.899994,449.649994,7399981.0,448.041077,2020-01-06,455.100006
2020-01-07,455.299988,443.100006,452.000000,445.100006,4273646.0,443.507385,2020-01-07,449.649994
...,...,...,...,...,...,...,...,...
2021-02-23,577.000000,564.000000,575.000000,565.549988,23326447.0,565.549988,2021-02-23,570.299988
2021-02-24,574.099976,565.200012,568.099976,572.950012,8725136.0,572.950012,2021-02-24,565.549988
2021-02-25,584.450012,577.049988,579.900024,579.150024,15931134.0,579.150024,2021-02-25,572.950012
2021-02-26,585.950012,551.750000,574.500000,556.299988,194887984.0,556.299988,2021-02-26,579.150024
2021-03-01,559.099976,521.000000,558.000000,532.200012,54064597.0,532.200012,2021-03-01,556.299988

In [58]:
df.to_csv('airtel.csv')

In [65]:
#Calculate Beta - WIP
df['Prev_Close'] = df.Close.shift(1)
df['Return'] = (df.Close.values - df.Close.shift(1))
df['Perc_Return'] = df.Return/df.Prev_Close

In [69]:
df['Perc_Return'] = df.Return/df.Prev_Close

In [70]:
df

,High,Low,Open,Close,Volume,Adj Close,Date,Prev_Close,Return,Perc_Return
Date,,,,,,,,,,
2020-01-01,460.500000,449.750000,456.049988,453.299988,5059995.0,451.678009,2020-01-01,NaN,NaN,NaN
2020-01-02,459.399994,453.500000,454.100006,455.200012,4842142.0,453.571259,2020-01-02,453.299988,1.900024,0.004192
2020-01-03,459.200012,451.500000,455.700012,455.100006,5059594.0,453.471588,2020-01-03,455.200012,-0.100006,-0.000220
2020-01-06,457.450012,444.649994,453.899994,449.649994,7399981.0,448.041077,2020-01-06,455.100006,-5.450012,-0.011975
2020-01-07,455.299988,443.100006,452.000000,445.100006,4273646.0,443.507385,2020-01-07,449.649994,-4.549988,-0.010119
...,...,...,...,...,...,...,...,...,...,...
2021-02-23,577.000000,564.000000,575.000000,565.549988,23326447.0,565.549988,2021-02-23,570.299988,-4.750000,-0.008329
2021-02-24,574.099976,565.200012,568.099976,572.950012,8725136.0,572.950012,2021-02-24,565.549988,7.400024,0.013085
2021-02-25,584.450012,577.049988,579.900024,579.150024,15931134.0,579.150024,2021-02-25,572.950012,6.200012,0.010821
2021-02-26,585.950012,551.750000,574.500000,556.299988,194887984.0,556.299988,2021-02-26,579.150024,-22.850037,-0.039454
2021-03-01,559.099976,521.000000,558.000000,532.200012,54064597.0,532.200012,2021-03-01,556.299988,-24.099976,-0.043322

In [76]:
#Nifty Pull
nifty = web.DataReader('^NSEI','yahoo',start,end)
nifty['Date'] = nifty.index